<footer class="footer" data-aos="zoom-in-up">
	<div class="container">
		<div class="footer__title title">Contacts</div>
		<div class="footer--content">
			<p class="footer--content__descr">
				Want to know more or just chat?
				You are welcome!
			</p>
			<div class="footer--content__button">
				<a href="#!">Send message</a>
			</div>
			<div class="footer--content__social">
				<div class="footer--content__item">
					<a href="#!"><img src="../assets/img/socials/LinkedIn.svg" alt="LinkedIn"></a>
				</div>
				<div class="footer--content__item">
					<a href="#!"><img src="../assets/img/socials/Instargam.svg" alt="Instargam"></a>
				</div>
				<div class="footer--content__item">
					<a href="#!"><img src="../assets/img/socials/Behance.svg" alt="Behance"></a>
				</div>
				<div class="footer--content__item">
					<a href="#!"><img src="../assets/img/socials/Dribble.svg" alt="Dribble"></a>
				</div>
			</div>
			<div class="footer--content__footer">
				Like me on <br>
				LinkedIn, Instagram, Behance, Dribble
			</div>
		</div>
	</div>
</footer>