<header class="header">
	<div class="container">
		<div class="header-nav">
			<a href="#!" class="logo">Kelvin</a>
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item"><a href="#!" class="nav__link active">Home</a></li>
					<li class="nav__item"><a href="#!" class="nav__link">Works</a></li>
					<li class="nav__item"><a href="#!" class="nav__link">Services</a></li>
					<li class="nav__item"><a href="#!" class="nav__link">About</a></li>
					<li class="nav__item"><a href="#!" class="nav__link">Contact</a></li>
				</ul>
				<button class="nav__button">
					<img class='nav__img' src="../assets/img/icons/nav-open.svg" alt="open">
				</button>
			</nav>
		</div>
		<div class="header-row">
			<div class="header-content" data-aos="fade-up">
				<div class="header-content__heading">
					Kelvin Kramer <br>
					<span>Designer & Developer</span>
				</div>
				<div class="header-content__descr">
					I’m a portrait, fashion and lifestyle photographer living In New York City. During my thirteen year
					tenure here.
				</div>
			</div>
			<div class="header-img" data-aos="fade-left">
				<div class="header-img__bg">
					<img src="../assets/img/header/hero.png" alt="hero">
				</div>
			</div>
		</div>
	</div>
</header>