<section class='portfolio'>
	<div class="container">
		<div class="portfolio__wrapper">
			<h2 class="portfolio__title title">Portfolio</h2>
			<div class="project" data-aos="fade-right">
				<div class="project__img">
					<img src="../assets/img/portfolio/01.jpg" alt="Online fashion store">
				</div>
				<h3 class="project__title"><a href="#!">Online fashion store - Homepage</a></h3>
			</div>
			<div class="project" data-aos="fade-left">
				<div class="project__img">
					<img src="../assets/img/portfolio/02.jpg" alt="Reebok Store">
				</div>
				<h3 class="project__title"><a href="#!">Reebok Store - Concept</a></h3>
			</div>
			<div class="project" data-aos="fade-right">
				<div class="project__img">
					<img src="../assets/img/portfolio/03.jpg" alt="Braun Landing Page">
				</div>
				<h3 class="project__title"><a href="#!">Braun Landing Page - Concept</a></h3>
			</div>
		</div>
	</div>
</section>