<section class="services" data-aos="zoom-in">
	<div class="container">
		<div class="services__row">
			<div class="services__card">
				<div class="services__img">
					<img src="../assets/img/services/01.svg" alt="card">
				</div>
				<h2 class="services__title">
					UI/UX Design
				</h2>
				<div class="services__descr">
					Our design is translated into comprehensive digital environments built on latest development
					standards.
				</div>
			</div>
			<div class="services__card">
				<div class="services__img">
					<img src="../assets/img/services/02.svg" alt="card">
				</div>
				<h2 class="services__title">
					Development
				</h2>
				<div class="services__descr">
					Our design is translated into comprehensive digital environments built on latest development
					standards.
				</div>
			</div>
			<div class="services__card">
				<div class="services__img">
					<img src="../assets/img/services/03.svg" alt="card">
				</div>
				<h2 class="services__title">
					software testing
				</h2>
				<div class="services__descr">
					Our design is translated into comprehensive digital environments built on latest development
					standards.
				</div>
			</div>
		</div>
	</div>
</section>